.box_dom{
    color: black;
    height: 90px;
}
.box_bgN{
    background-color: rgb(50, 50, 153);
}
.box_bgFizz{
    background-color: rgb(25, 146, 61);
}
.box_bgBuzz{
    background-color: rgb(211, 195, 51);
}
.box_bgFizzbuzz{
    background-color: rgb(198, 38, 38);
}